@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pinkTitle {
    @apply font-roboto text-[42px] font-normal leading-[52px] text-iplanPink;
  }
  .card {
    @apply flex h-auto max-h-[530px] max-w-[404px] flex-col self-stretch overflow-hidden rounded-[32px] text-center shadow-md;
  }
  .card__redHeader {
    @apply flex flex-col items-center justify-center gap-3 self-stretch bg-iplanPink px-6 py-[25px] text-center;
  }
  .card__blueHeader {
    @apply flex min-h-[150px] items-center justify-center gap-[20px] self-stretch bg-iplanBlue py-[25px] pl-6 pr-0 text-center;
  }
  .card__readHeader__title {
    @apply font-figtree text-[48px] font-light not-italic leading-[50px] tracking-[-0.48px] text-iplanWhite;
  }
  .card__body {
    @apply flex h-full flex-col items-center gap-4 self-stretch bg-white px-[24px] py-[32px];
  }
  .btnDisabled {
    @apply overflow-hidden rounded-[40px] bg-iplanGrey px-[10px] py-[5px]  font-lato text-2xl font-bold not-italic leading-[25px] text-iplanPink outline-none focus:outline-none;
  }
  .btnActived {
    @apply transform overflow-hidden rounded-[40px] bg-iplanPink px-[10px] py-[5px] font-lato text-2xl font-bold not-italic leading-[25px] text-iplanWhite outline-none transition duration-300 ease-in-out hover:scale-105 focus:outline-none active:scale-95;
  }
  .packDisabled {
    @apply flex max-h-[68px] items-center justify-center overflow-hidden rounded-[162px] bg-iplanGrey px-[24px] py-[12px] font-lato text-[20px] font-bold text-iplanBlue;
  }
  .packActived {
    @apply flex max-h-[68px] items-center justify-center overflow-hidden rounded-[162px] border-2 border-iplanBlue bg-iplanGrey px-[24px] py-[12px] font-lato text-[20px] font-bold text-iplanBlue;
  }
  .textGrey21Roboto {
    @apply text-center font-roboto text-[21px] font-semibold not-italic leading-[130%] tracking-tight text-iplanGrey2;
  }
  .textBlueOscuro36Lato {
    @apply font-lato text-[36px] font-medium not-italic leading-[52px] text-iplanBlue2;
  }
  .textOrange23Roboto {
    @apply font-roboto text-[23px] font-semibold not-italic leading-[130%] tracking-tight text-iplanOrange;
  }
  .textBrown20Lato {
    @apply font-lato text-[20px] font-medium not-italic leading-normal text-iplanBrown;
  }
  .btnNextDisabled {
    @apply flex h-[36px] w-auto max-w-[150px] items-center justify-center gap-[8px] rounded-[25px] bg-iplanGrey2 px-6 py-2 font-lato text-[17px] font-bold leading-normal text-iplanWhite outline-none focus:outline-none;
  }
  .btnNextActived {
    @apply flex h-[36px] w-auto max-w-[180px] items-center justify-center gap-[6px] rounded-[25px] bg-iplanPink px-6 py-2 font-lato text-[17px] font-bold leading-normal text-iplanWhite outline-none focus:outline-none;
  }
  .btnSugerenciaDisabled {
    @apply flex h-[36px] w-[200px] max-w-[200px] items-center justify-center gap-[8px] rounded-[25px] bg-iplanPink px-[10px] py-2 font-lato text-[17px] font-bold leading-normal text-iplanWhite;
  }
  .btnSugerenciaActived {
    @apply flex h-[36px] w-[200px] max-w-[200px] items-center justify-center gap-[8px] rounded-[25px] bg-iplanPink px-[10px] py-2 font-lato text-[17px] font-bold leading-normal text-iplanWhite;
  }
  .buttonCerrarSesion {
    @apply absolute left-4 top-0 mt-2 flex h-[36px] w-auto max-w-[90] items-center gap-[8px] rounded-[25px] bg-iplanGrey2 px-2 py-2 font-lato text-[12px] font-bold leading-normal !text-iplanWhite outline-none focus:outline-none;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  margin: 0 auto;
}
input:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select[disabled] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:-internal-autofill-selected {
  background-color: #fff !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #ed1f70 !important;
}
/* -------------------------------- FORM MESH ------------------------------- */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.radio-btn {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #ed1f70;
  border-radius: 50%;
  margin-right: 8px;
}
input[type="radio"]:checked + .radio-btn {
  background-color: #ed1f70;
}
label {
  display: inline-flex;
  align-items: center;
}
/* --------------------- CALENDARIO --------------------- */
.fc-today-button {
  display: none !important;
}
.fc-day-other {
  opacity: 0;
}
thead tr {
  background: var(--general-grey-dark, #7c7b85) !important;
  width: 33px !important;
  height: 18px !important;
}
tr th {
  color: var(--general-white, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
/* ----------------------- LOADER ----------------------- */
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ed1f70;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
